<h1>Add a Start Up</h1>
<form class="lower-margin-box" action='/start_ups/new' method="POST">
  Founder: <input name="founder" type="text" ><br>
  Url: <input name="url" type="text" ><br>
  Funding: <input name="funding" type="number" ><br>
  Country: <input name="country" type="text" ><br>
  <button>Add</button>
</form>
